@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white; 
    background: linear-gradient(to right, #000, #4b5563);
    font-family: sans-serif;
  }
}

@layer components {
  .menuLink{
    @apply cursor-pointer hover:border-b hover:transition-transform duration-150
  }
  #cards{
    @apply cursor-pointer hover:transition duration-100 transform hover:scale-110 hover:opacity-60
  }

  }
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
  }
